<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_bianli.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,250},{264,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,246}}</string>
                <key>sourceSize</key>
                <string>{264,246}</string>
            </dict>
            <key>build_che.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,242}</string>
            </dict>
            <key>build_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,230}}</string>
                <key>sourceSize</key>
                <string>{307,230}</string>
            </dict>
            <key>build_jiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{246,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,270}}</string>
                <key>sourceSize</key>
                <string>{246,270}</string>
            </dict>
            <key>build_lvguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{259,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,278}}</string>
                <key>sourceSize</key>
                <string>{259,278}</string>
            </dict>
            <key>build_tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,260},{188,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,278}}</string>
                <key>sourceSize</key>
                <string>{188,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_building.png</string>
            <key>size</key>
            <string>{828,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ea73ccb8f47a00ab021249a1e6758a:1/1$</string>
            <key>textureFileName</key>
            <string>game_building.png</string>
        </dict>
    </dict>
</plist>
